<ion-header [translucent]="true" contentId="main">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <img src="assets/images/ebookBanner/logo.png" class="appLogo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <!-- <app-membership></app-membership> -->
  <h5>Chat on WhatsApp with </h5>
  <p>+91 90115 24939</p>
  <ion-button class="buttonClass" href="https://wa.me/919011524939">Continue To Chat</ion-button>
</ion-content>
