<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <label position="floating">books.littleprodigy@gmail.com</label>
            <ion-icon name="mail" slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <label position="floating">+91 8856914939, +91 9011524939</label>
            <ion-icon name="phone-portrait" slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <label position="floating">No 10 Venkataraman street Srinivasa avenue Chennai 600028</label>
            <ion-icon name="navigate"  slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
<!-- 
      <ion-item>
        <label position="floating">books.littleprodigy@gmail.com</label>
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-item>
      <br>
      <ion-item>
        <label position="floating">+91 8856914939, +91 9011524939</label>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
      </ion-item>
      <br>
      <ion-item>
        <label position="floating">No 10 Venkataraman street Srinivasa avenue Chennai 600028</label>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
      </ion-item>
      
      -->
  </div>
</ion-content>
