
<ion-header [translucent]="true" contentId="main">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <img src="assets/images/ebookBanner/logo.png" class="appLogo">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div padding-top padding-bottom>
    <ion-slides loop="true" pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let image of bannerImages">
        <img src="{{image.path}}">
      </ion-slide>
    </ion-slides>
  </div>
  <div>
    <img src="assets/images/ebookBanner/table_top_day.jpg">
  </div>
  <div>
    <ion-grid class="ion-padding ion-text-center ebookrows">
      <ion-row *ngFor="let ebook of ebookReaderDatas">
        <ion-col size="2"><p>{{ebook.id}}</p></ion-col>
        <ion-col size="6"><p>{{ebook.series_name}}</p></ion-col>
        <ion-col size="2"><p>{{ebook.no_of_books}}</p></ion-col>
        <ion-col size="2"><p>{{ebook.age_group}}</p></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

