<ion-header [translucent]="true" contentId="main">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div>
      <img src="assets/images/ebookBanner/logo.png" class="appLogo">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="loginCnt ion-padding">
  <!-- <div class="ion-text-center ion-margin-top">
    <img src="assets/images/ebookBanner/logo.png" class="appLogoLogin">
  </div> -->
  <div class="login_form ion-padding">
    <form>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
        <ion-icon name="person" slot="start"></ion-icon>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input></ion-input>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Remember Me</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      <div class="ion-text-center">
        <ion-button class="buttonClass">Login</ion-button>
      </div>
      <ion-item lines="none"  [routerLink]="['/register']">
        <ion-label>Not Registered? <a>Create a new account </a></ion-label>
      </ion-item>
    </form>
  </div>
</ion-content>
