<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div *ngIf="!islibraryCatalogue">
      <ion-card>
        <ion-card-header>
          <a href="https://littleprodigybooks.in/resources/pdf/Catalogue-2020-.pdf">Open Catalogue</a>
        </ion-card-header>
      </ion-card>
    </div>
    <div *ngIf="islibraryCatalogue">
      <ion-card>
        <ion-card-header>
          <a href="https://littleprodigybooks.in/resources/pdf/Our-Library-Catalogue.pdf">Open Out Library Catalogue</a>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
