<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div padding-top padding-bottom>
    <ion-slides loop="true" pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let image of bannerImages">
        <img src="{{image.path}}">
      </ion-slide>
      
    </ion-slides>
    
  </div>
  <div>
    <ion-grid>
      <ion-row *ngFor="let list of categoriesData; let i = index">
        <ion-col>
          <div>
            <p class="slider-title">{{list[i].series_name}}</p> 
          </div>
          <ion-slides  [options]="slideOpts">
            <ion-slide  class="slide-card" *ngFor="let item of list" (click)="navigate(item)">
              <div >
                <ion-thumbnail  class="thumb-image" slot="start">
                  <ion-img [src]="item.thumb_img"></ion-img>
                </ion-thumbnail>
                <h5 class="show_two_line">{{item.series_name}}</h5>
                <button class="e-book-button">View Details</button>
              </div>
            </ion-slide>
      </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-slides  [options]="slideOpts">
      <ion-slide *ngFor="let item of categoriesData">
        <h1>{{item.series_name}}</h1>
      </ion-slide>
    <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
 
  </ion-slide> 
</ion-slides> -->
</div>  
</ion-content>
