<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div padding-top padding-bottom>
    <ion-slides loop="true" pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let image of bannerImages">
        <img src="{{image.path}}">
      </ion-slide>
      
    </ion-slides>
  </div> -->
</ion-content>
